[2016-01-01 21:38] pmdesgn opened #1 "Integrate StartApp"

[2016-01-02 16:58] moarwick commented on #1
published ver 0.2.0

[2016-01-02 16:58] #1 closed

[2016-01-08 16:37] sircharleswatson opened #3 "Webpack Server not reloading"
Hi, I'm not sure what's wrong but if Elm runs into an error and it can't compile, it seems that webpack stops picking up changes after that. This happens with the elm-webpack-starter webpack.config and any other ones I try with elm + webpack. Any thoughts?

[2016-01-08 23:40] ai opened #4 "Use postcss-loader instead of autoprefixer-loader"
The official way to use Autoprefixer is by `postcss-loader`:

https://github.com/postcss/autoprefixer#webpack

[2016-01-11 17:58] moarwick commented on #3
Hmm, I wonder if we need something like the 'NoErrorsPlugin' (https://github.com/webpack/docs/wiki/list-of-plugins). Will try to have a look soon..

[2016-01-11 18:01] moarwick commented on #4
Thanks. I'm a little unclear what exactly postCSS does better than just compiling Sass and subsequently auto-prefixing it. My implementation seems to work but if you have experience with postCSS and/or it is the "correct" way, feel free to submit a PR!

[2016-01-11 18:36] ai commented on #4
PostCSS is **not** a Sass replament.

It is a basement for any CSS transformation by JS plugins. Autoprefixer is just a PostCSS plugin.

There is a plugins for Sass-like syntax. But they are just small and non-important part. CSS Modules, cssnext polyfills, cssnano minifier, stylelint linter are much more interesting.

But this issue is not about replament Sass with PostCSS. It is about correct wa

[2016-01-12 16:33] sircharleswatson commented on #3
@pmdesgn I think it's something to do with the actual loader. but ya, that might be a good addition. I'm talking to the guys over here: https://github.com/rtfeldman/elm-webpack-loader/issues/30

feel free to add your input.

[2016-01-13 17:26] #4 closed

[2016-01-13 17:28] moarwick commented on #4
Cool, thanks Andrey. I updated it, seems to work, but please have a look and let me know if anything is off: https://github.com/pmdesgn/elm-webpack-starter/blob/master/webpack.config.js#L70-L77

[2016-01-13 17:31] moarwick commented on #3
Hmm, I just tried it again briefly and my process seems to recover fine when errors are introduced/resolved as I work. Sadly, I haven't had a chance to work with Elm more but please update this issue (or submit a PR) if there are any developments on this.. happy to improve this repo. Thx!

[2016-01-13 17:31] ai commented on #4
Awesome :)

[2016-02-22 01:12] kittykatattack opened #5 "Unhanded `error` events"
Hello!

I've followed your directions for installing and running elm-webpack-starter and am receiving this error message when I run `npm start`
[code]
I'm on OS X El Capitan.
Do you have any idea what might be wong?

[2016-02-22 06:05] moarwick commented on #5
Hmm, perhaps your Node version? (I'm on 5.1) In any case, just pushed a fairly large update. It might be best to re-clone and try `npm install` again. Hope it helps!

[2016-02-25 14:12] kittykatattack commented on #5
No problem, it's working now :)

[2016-02-25 21:31] #5 closed

[2016-02-25 21:31] #3 closed

[2016-03-06 19:31] gothy opened #8 "Include elm-hot-loader"
Hi Peter,

it would be really great to include [elm-hot-loader](https://github.com/fluxxu/elm-hot-loader) into the starter kit. I've just spent about an hour tying all the things together. I could make a PR, but I'm not that profound in Elm so far and all the nuances of StartApp(example in elm-hot-loader repo) vs StartApp.Simple.

Thanks for your work!

[2016-03-07 23:51] moarwick commented on #8
@gothy: Done. Your friend @fluxxu was kind enough to do the PR. :)

[2016-03-07 23:51] #8 closed

[2016-03-22 17:24] simonh1000 opened #10 "No image loader?"
Hi,

 was trying your code as mine (https://github.com/simonh1000/elm-hot-loader) is having lots of issues with watching (basically it watches one failed build and then stops, and this only on my bigger projects!).

But your code does not support images.

[2016-03-23 20:01] kittykatattack opened #11 "Is it possible to have a different dev path and distribution path?"
Hi!

This is just a general question about webpack configuration.. hope it's OK to ask here?
My local path for images is on my dev server is:
[code]
But, when the project is deployed it will need to grab the images from here:
[code]
Is it possible to configure webpack to use this path when it builds to the `dist` folder?

[2016-03-28 17:14] moarwick commented on #11
It should be possible by specifying a `publicPath` in your `output` block:

[code]

Then, modify the destination of the `cp` command in your `build` script, in `package.json`:

[code]

Hope it helps!

[2016-03-28 17:16] moarwick commented on #10
Hmm, I believe someone would need to develop an Elm'ified image loader but that is outside of my expertise..

[2016-04-21 05:41] #11 closed

[2016-04-21 05:41] #10 closed

[2016-04-21 17:43] brobrts opened #12 "Uncaught SyntaxError: Unexpected token import"
Hi,

Just installed by the instructions and got: Uncaught SyntaxError: Unexpected token import
in the console.

Thanks,
Billy

[2016-04-22 00:53] moarwick commented on #12
Hey Billy. At which stage of the process is it throwing the error, on `npm start`? Did you install `elm` and its dependencies, per the README? An what is your Node version? If you can link to a screengrab of the entire error output, might give me more of a clue.. Thanks!

[2016-04-22 01:31] brobrts commented on #12
Thanks!
Yes, the error is the first and only console error when you go to http://localhost:8080/.
I'm using Chrome.
I have node: v4.2.1
I have elm installed and have been using it for a while.  I did run all of the commands in the readme.
elm-package.json =>
...
    "dependencies": {
        "elm-lang/core": "3.0.0 <= v < 4.0.0",
        "evancz/elm-effects": "2.0.1 <= v < 3.0.0",
        "evancz/

[2016-04-26 20:38] brobrts commented on #12
FYI: I just got the exact same error with the sporto/hop router tutorial's webpack configuration.  Everything builds correctly and seems to serve fine from the terminal (bundle is now VALID) and then this same error pops up in the exact same spot when trying to load the app's js file.

Also, I see in other non-elm webpack apps this seems to be a very common error.

If you have any ideas, I'm happy

[2016-04-26 22:31] brobrts commented on #12
I just tried to run a build and got an error pointing to the import for htlm in main.elm.  see below:

WEBPACK GO!
Building for prod...
Hash: 5c1ef8b2916c296c3570
Version: webpack 1.12.13
Time: 4667ms
                     Asset       Size  Chunks             Chunk Names
   5c1ef8b2916c296c3570.js     3.5 kB       0  [emitted]  main
./5c1ef8b2916c296c3570.css    17.9 kB       0  [emitted]  main

[2016-04-26 22:52] moarwick commented on #12
Sorry, haven't had the time to look into it. Does this problem happen only when running the `build` script? What version of Node are you running? Also, what happens if you remove minification: https://github.com/moarwick/elm-webpack-starter/blob/master/webpack.config.js#L113-116  <-- comment out these lines?

[2016-04-26 23:06] moarwick commented on #12
I've just re-pulled the repo from scratch, and followed the steps. Build runs fine. If you are getting similar errors elsewhere, I'm thinking something is off on your end. I would recommend:

1) Remove all instances of Node from your system, for example per [this SO post](http://stackoverflow.com/questions/11177954/how-do-i-completely-uninstall-node-js-and-reinstall-from-beginning-mac-os-x)
2) Ins

[2016-04-26 23:07] brobrts commented on #12
I just build as you asked with the uglify lines commented out and got rid of the build error.  However, when serving from /dist I got a similar console error: Uncaught SyntaxError: Unexpected token import.
For what it is worth. I just ran the code from the rtfeldman/elm-webpack-loader example and got the same error in the same place.

[2016-04-27 16:58] brobrts commented on #12
I wiped away everything and reinstalled node with nvm.  I now have node v5.10.1.
I ran all the commands again with the only error in the build step that goes away when you comment out uglify.

 Still, the same error in the console is:
Uncaught SyntaxError: Unexpected token import, pointing to the same place:  import Html exposing (..).

Last, vscode reports: Duplicate identifyer 'export='. (proper

[2016-04-27 18:03] brobrts commented on #12
here is one more:
![screen shot 2016-04-27 at 2 02 34 pm](https://cloud.githubusercontent.com/assets/9594836/14862748/d40223aa-0c80-11e6-84f4-9654e6c802c8.png)

[2016-04-27 18:55] moarwick commented on #12
Looks like it's choking on the `import` statement, which is Elm syntax. You definitely followed all the install steps, including `npm install -g elm` and `elm package install`? Something wrong with your `elm-webpack-loader` perhaps, but.. assuming you pulled everything anew, and your NPM install went without errors, it should all work. Don't know, sorry. (I made the build script but I'm just not f

[2016-04-27 20:15] brobrts commented on #12
It doesn't seem to be your script. The exact thing happens with the loader's example project.
I did follow all of the steps to install very carefully.

Thanks, and let me know if you think of anything I can do to track this down on my side.

[2016-04-28 15:32] brobrts commented on #12
It seems that having a parent directory named elm-stuff causes problems. I haven't gotten familiar with webpack enough to tell you why, but I definitely narrowed it down to this.

[2016-04-28 15:34] #12 closed

[2016-05-11 22:00] alanwilhelm opened #13 "Updating to 0.17 - Uncaught ReferenceError: Elm is not defined"
Not sure what is causing this. Thoughts? I updated all of the libs and Main.elm file so it compiles with elm-make. It also compiles fine with Webpack but I get this in my browser console.
Uncaught ReferenceError: Elm is not defined

updated package.json:
![image](https://cloud.githubusercontent.com/assets/175353/15198384/e45aec6c-178b-11e6-99c8-96d8c5f8ad81.png)

elm-package.json:
![image](https:/

[2016-05-12 02:58] MartinKavik commented on #13
Hi, I've got same problem - It's mainly due to incompatibility between [elm-webpack-loader](https://github.com/rtfeldman/elm-webpack-loader) and elm 0.17. They already [fixed](https://github.com/rtfeldman/elm-webpack-loader/pull/50) this a few hours ago.

So my quick solution:
**1.** Update **elm-webpack-loader** in the project root:  _(ncu = [npm-check-updates](https://www.npmjs.com/package/npm-c

[2016-05-12 06:45] moarwick commented on #13
Thanks guys. Ver 0.17 intro'd quite a few "breaking" changes, per the [upgrade doc](https://github.com/elm-lang/elm-platform/blob/master/upgrade-docs/0.17.md). I made the updates, to the best of my (poor) Elm abilities. Yes, had to remove `elm-hot-loader` for the time being. Remember to repeat the install steps..

[2016-05-12 06:45] #13 closed

[2016-05-14 15:42] kittykatattack opened #15 "Thank you!"
Hi, just a "Thank you!" for bumping this up to 0.17 😄
I user elm-webpack-starter with all my Elm projects and love it.

[2016-05-15 03:09] moarwick commented on #15
Appreciate it. Glad it's useful!

[2016-05-15 03:09] #15 closed

[2016-05-16 18:07] joakin commented on #15
I want to echo back the thanks. This boilerplate is very useful.

[2016-05-21 21:12] kibin opened #18 "Add dist to .gitignore"
Is there any particular reason for why dist is commited to the repo?

[2016-05-22 01:57] moarwick commented on #18
good point, fixed. thanks!

[2016-05-22 01:57] #18 closed

[2016-05-24 06:22] tsimbalar opened #19 "Error when running npm run build on Windows"
Hi,

I get an error when I try to build the default app for "distribution".

In the dist folder, I get some files, and the app actually runs, but the image is missing (and I guess that some other assets too)

Any idea what I am doing wrong ?

Thanks in advance !

Below are the error details :

[code]

`npm-debug.log` contains the following :

[code]

[2016-05-24 14:57] MartinKavik commented on #19
Hi,

Windows doesn't know command **cp**, so the alternative for Win is:

[code]

But it is ugly solution.
@moarwick: Is it possible to use something as [**copy-webpack-plugin**](https://www.npmjs.com/package/copy-webpack-plugin)? Thanks.

[2016-05-25 12:38] aaronwhite opened #20 "Hot loading never recovers from broken Elm code"
First, huge thanks!

It seems when Elm code gets broken, you get a great compiler error, but then hot reloading never recovers, nor does fixing the issue & manual refreshing the page.

[2016-05-25 15:41] moarwick commented on #19
yes, i've seen the `copy-webpack-plugin` out there, will give it a try as soon as i find some time.. in the meantime, your solution should help @tsimbalar (and other Win users) -- thanks!

[2016-05-27 00:46] #20 closed

[2016-05-30 19:08] kittykatattack opened #22 "Linking external JS file"
Hi,

I have a very basic question about how to link an external JS file.

I'm using Material Design Lite (https://getmdl.io/index.html) for basic styling. It contains a CSS and JS file. I've been able to load the CSS file by adding a simple `link` in the head of `index.html`. But, I haven't been able to figure out how to link the JS file. Loading it with a `<script>` tag in the `<body>` seems to h

[2016-05-31 18:56] moarwick commented on #22
It should work, assuming the `mdl` folder is in your `dist` folder. However, when using `elm-webpack-starter`, the `dist` folder is recreated whenever you run `npm run build`, so you would have to ensure that your libs get copied over each time as well (there are a few ways to do it).

With Webpack, a more common approach is to install your libs with NPM, and then require them:

[code]

Then in yo

[2016-05-31 18:56] #22 closed

[2016-05-31 19:15] kittykatattack commented on #22
Thanks so much for your detailed response!
I will try what you've suggested.

[2016-06-07 04:52] moarwick commented on #19
Ok, finally found a moment to look into implementing `copy-webpack-plugin`. I believe it's working so, if still interested, please try `0.6.2`. I don't have a Windows system handy so if you try it, pls let me know how it goes. Thanks!

[2016-06-07 04:52] #19 closed

[2016-06-07 14:05] MartinKavik commented on #19
Nice! Everything seems to be working on Win.

@moarwick: Btw I want to build some projects on this repo in the near future and I have some ideas - e.g. integrate [webpack-notifier](https://www.npmjs.com/package/webpack-notifier) / show errors in the browser window. So I can help more If you want.

[2016-06-17 15:35] decentral1se commented on #15
Yeah, don't want to spam but it's awesome. Thanks!

[2016-07-22 19:59] kittykatattack commented on #19
Hi, I'm on Windows and would love to try this!
What's the best way to upgrade to the latest version without over-writing my current work?

[2016-07-25 23:25] moarwick commented on #19
If you didn't modify your webpack configs or added any dependencies to package.json, just clone a new version of this repo, then copy the contents of your project's `src/` folder over, and.. it _should_ just work ;)

[2016-07-27 19:16] kittykatattack commented on #19
@moarwick Thank you, it did work! :+1:

I also copied over my `elm-package.json` file and then ran `elm package install` which installed all the new packages I was using.
I also had to do a local re-install of a few npm packages I was using, like `marked.js`.
The only other thing I did was manually update the new version of `webpack.config.js` so that my custom folders in the `src` directory would

[2016-07-28 04:29] se77en opened #24 "node-sass no such file or directory"
when I execute `npm start`, it shows this:

[code]

[2016-08-05 22:23] ciaran-phillips commented on #24
I had this error too and found others encountering it here: https://github.com/davezuko/react-redux-starter-kit/issues/791

I haven't investigated enough to know the root cause, but based on that thread I deleted my node-sass folder and manually reinstalled it (`npm install --save-dev node-sass`). That seemed to fix the issue for the moment (possibly because that bumped me up to node-sass 3.8.0 fr

[2016-08-06 08:01] phoenleo commented on #24
I can fix it after rebuild the node-sass using this command:

`npm rebuild node-sass`

This command will build the vendor folder.
FYI: I'm using node-sass version 3.8.0

[2016-08-06 13:20] se77en commented on #24
@ciaran-phillips @phoenleo thx~

[2016-08-09 18:41] ciaran-phillips commented on #24
Eh... not really sure this issue should be closed. We've got a workaround but I assume it's still a problem

Maybe @moarwick can weigh in

I'm not great with npm but if I get a chance in the next few days I can dig in a little and try to confirm it's just an issue with that version of node-sass. Hopefully I can submit a PR

[2016-08-10 17:05] moarwick commented on #24
ok, had a look.. i think we can close the issue. i pushed a minor update (a few updated packages) but most likely you had a node version mismatch. whenever you run into any such issues, reinstall all dependencies afresh:

[code]

hope it helps!

[2016-08-11 02:58] #24 closed

[2016-08-11 09:24] kaaloo opened #25 "Uncaught ReferenceError: _elm_lang$core$Json_Decode_ops is not defined"
Running `npm start` will raise this error when using elm-lang/core 4.0.5.  Works fine with elm-lang/core 4.0.4.

![selection_001](https://cloud.githubusercontent.com/assets/67010/17584315/1cf98fa2-5fb6-11e6-994b-59067998ff12.jpg)

[2016-08-11 14:58] moarwick commented on #25
Not seeing it, so i'm presuming it's in your Elm code? Looks like it's checkbox (form fields) related perhaps? Try compiling it direct, to see if it's related to elm-webpack-starter

[2016-08-11 15:42] kaaloo commented on #25
Weird, I just cloned elm-webpack-starter, no code of mine here.  I'll try again in a bit and let you know.

[2016-08-11 15:59] kaaloo commented on #25
You're right!  Sorry for the noise.

[2016-08-11 15:59] #25 closed

[2016-08-14 05:13] danneu opened #26 "Is it possible to keep non-Elm source vs Elm source in different directories?"
I borrowed the Webpack config heavily from your work on this project when building a Yeoman generator for Elm ([danneu/generator-elm][generator-elm]).

elm-webpack-starter's `src/` folder contains not just Elm source, but also all of the static entry-points and static files, like `index.html`, `index.js`, css, and images. elm-webpack-loader does the same in its example project.

In my Yeoman gener

[2016-08-14 10:24] jscriptcoder opened #27 "Not reloading when modifying Components.Hello"
Hi there,

I'm just toying around with this kit starter, by the way, great job... but I noticed that when I modify the component Hello.elm, the app doesn't reload. It does so when I modify Main.elm though. I followed the installation, and I get the app running, but it doesn't seem to reload with changes in subfolders. Could it be an issue in elm-hot-loader?

Thanks

[2016-08-15 17:01] rtfeldman commented on #27
@moarwick May be related to https://github.com/rtfeldman/node-elm-compiler/pull/36 - which is now fixed. 😄

[2016-08-15 17:13] 7sharp9 opened #28 "Are the bootstrap scripts included so that collapse.js can be run for navbar collapse etc?"

[2016-08-15 19:13] moarwick commented on #28
I did not include the Bootstrap-related JS, because at that point you also need `jQuery` loaded, etc. I added it for styling only. If you want to interface with JS, it should be possible in Elm, but I don't have any experience with it -- see http://guide.elm-lang.org/interop/javascript.html

To include the above JS dependencies, I believe this will do it:

Add jQuery module to the project:
`npm i

[2016-08-15 19:21] moarwick commented on #27
@rtfeldman Thanks! Btw, any interest in "taking over" this repo? I feel super unqualified continuing on since I don't actually write any Elm.. I was hoping to allocate some time to learning it but it's been a ~year now :(

[2016-08-16 15:14] 7sharp9 commented on #28
I will give it a go, the bootstrap-sass webpack plugin advises to do this similarly too:

[code]

Which imports jquery as a dependency then all the bootstrap scripts like collapse.js

[2016-08-16 15:23] 7sharp9 commented on #28
@moarwick You don't need to interface with JS as such just place a few attributes on the div with the `navbar-toggle`class.  Then when the app is displayed on a mobile you can expand the menu rather than it being permanently closed :-)

[2016-08-16 17:06] 7sharp9 commented on #28
Just to report back,

[code]

Works a treat!

What I meant earlier is that if you had used https://github.com/shakacode/bootstrap-loader then including the JS is done with:

[code]

[2016-08-16 20:26] moarwick commented on #28
Cool, but perhaps the loader method you suggest is a more "correct" solution? If you are interested in submitting a PR, I'm happy to merge your contribution into the next version :)

P.S. Curious if it's possible to explicitly trigger things like BS modals from within Elm..

[2016-08-16 20:56] larfadin opened #29 "feature request: create project from command line"
Hi,

It would be great if it were possible to maybe install globally elm webpack starter and then to create project like `elm-webpack-starter create MyProject`.

BTW thanks for your work, it help me a lot, webpack is so fuck up and so hard to understand, and everything that can help use it without understanding the shit about it is very welcome.

[2016-08-17 12:44] moarwick commented on #29
yeah, would be nice -- we use such React/Redux project generator at work https://github.com/TrueCar/gluestick -- but unlikely i'll have the time :(

keep in mind that you can  clone `elm-webpack-starter` directly to a new project folder. you still need to nuke `.git` and re-init your own repo after that, but at least you've pulled the latest ver:

[code]

And edit your meta in `package.json`...

[2016-08-17 12:44] #29 closed

[2016-08-17 12:59] 7sharp9 commented on #28
@moarwick I tried but it didn't seem to work too well, far simpler just to add the two require statements.

I wonder if's worth trying out bootstrap4 too?

[2016-08-17 20:29] joshuata commented on #26
Yes. I've modified my project structure like so:

[code]

First you need to modify the source directories in your elm-package.json to point to the correct location:

[code]

Then update the configurations in `webpack.config.js` to point to the new `src/static` locations.  The important lines are [39](https://github.com/moarwick/elm-webpack-starter/blob/master/webpack.config.js#L39), [57](https://g

[2016-08-19 16:46] moarwick commented on #26
Looks good @joshuata. I went with a minimal structure for starters, but I may follow your org in a future release. Thanks!

[2016-08-19 16:46] #26 closed

[2016-08-20 21:48] danneu commented on #26
@joshuata Thanks, I'll just do that. Good enough!

[2016-08-22 05:38] benansell commented on #27
Hi @moarwick - If it's helpful I would be happy to either maintain this repo or help you maintain it?  Recently I started a similar one aimed at using elm-css instead of sass - [elm-webpack-seed](https://github.com/benansell/elm-webpack-seed)

[2016-08-23 15:50] moarwick commented on #28
Updated the repo, now the JS is included. Wrt BS4, don't think it's officially out yet, still alpha? Anyway, will leave that one to you -- PRs welcome any time :)

[2016-08-23 15:50] #28 closed

[2016-08-23 15:56] moarwick commented on #27
Just pushed an update, and verified hot-reloading to be working. Some other changes went in a well -- see README.

@benansell: Cool. Do you know both Webpack and Elm pretty well, keeping up? I'm happy to get PRs for improvements then we can talk hand-over; not sure what the best way would be..

[2016-08-23 15:56] #27 closed

[2016-08-24 05:30] benansell commented on #27
Mostly I just muddle my way through ;) - I have added a watch to the repo and will have a look at any issues that come in to see if I can help or feel free to add a mention to me on any you want me to pick up.

[2016-08-26 11:56] jscriptcoder commented on #27
Just wanted to thank you guys for taking care of this issue :-)

[2016-09-02 23:58] 7sharp9 commented on #28
BS4 is a little flaky I managed to hack it together but I don't think its PR worthy, probably better to wait until bootstrap-loader plugin works properly.

I tried to use purifycss etc to get my css size down a bit but only managed to squeeze a little.  Same with js size cant seem to get it lower than ~250k.

[2016-09-09 11:38] francisdb opened #30 "favicon not working during development"
During development (npm start) the favicon is not available at `./favicon.ico` but `./static/favicon.ico`

[2016-09-12 02:37] #30 closed

[2016-09-12 02:41] moarwick commented on #30
I believe `0.7.1` fixes it. The link href in `index.html` is now just `favicon.ico`, but I had to move the file to `src/` to be at the server's root.

[2016-11-09 11:59] logTom opened #31 "JS Error: Reload not working"
I installed everything.

I tried to change
, span[][ text "FTW!" ]
into
, span[][ text "FTW!!" ]

Then this happens:

![screenshot from 2016-11-09 12-54-53](https://cloud.githubusercontent.com/assets/17121556/20137619/d6a720de-a67b-11e6-8db4-196d6cbc8bb0.png)

What I'm doing wrong?
I'm on Fedora 24 and use Atom as Editor.

[2016-11-14 16:22] moarwick commented on #31
Sorry, I'm not sure. Not seeing this behavior on OSX, changing `Main.js` hot-reloads fine.  Are you also running `elm-test` perhaps?  See this issue: https://github.com/rtfeldman/node-test-runner/issues/62

[2016-11-15 07:33] 7underlines commented on #31
I found the issue. It was caused by an old elm-hot-loader version.

I changed the file package.json
"elm-hot-loader": "^0.3.2",
to
"elm-hot-loader": "^0.4.1",

Then
npm install
npm start

And now it's working fine :dancer:

Thanks for your help.

[2016-11-15 07:33] #31 closed

[2016-12-06 16:29] zeukterialpneumaion opened #38 "issue on windows with rimraf?"
i am getting an issue with rimraf not being recognised on windows....
apologies if this is an error on my side::
::
C:\Users\aj\Documents\programminglanguages\elm\my-elm-project [master]> npm run reinstall

'rimraf' is not recognized as an internal or external command,
operable program or batch file.

npm ERR! Windows_NT 10.0.14393
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Users\\aj

[2016-12-07 00:26] moarwick commented on #38
hmm,looks my bad, if you're doing a fresh clone, it won't have `rimraf` installed (duh!) need to update the repo, in the meantime, try installing `rimraf` globally first, then run the `reinstall` script..

`npm i rimraf`
`npm run reinstall`

[2016-12-07 00:33] moarwick commented on #38
Updated the repo now..

[2016-12-07 15:55] zeukterialpneumaion commented on #38
hi ! thankyou for updating!! So, updated tried once more....hmmm... still getting errors unfortunately... sure its on my sid now could you help?
...
elm-webpack-starter@0.8.1 C:\Users\aj\Documents\programminglanguages\elm\my-elm-project
`-- rimraf@2.5.4
  `-- glob@7.1.1
    +-- fs.realpath@1.0.0
    +-- inflight@1.0.6
    | `-- wrappy@1.0.2
    +-- inherits@2.0.3
    +-- minimatch@3.0.3
    | `--

[2016-12-07 16:15] moarwick commented on #38
Hmm, not a Windows user, so I'm just guessing here. I would try:

1) Install `rimraf` globally `npm i rimraf -g`, then try again..
2) If that fails, you don't really need rimraf. if you freshly cloned it, you can just do the install commands individually: `npm i -g elm`, `elm package install`, and `npm i`.

Note: `rimraf` is a Node package which is supposed to provide a normalized command for dele

[2016-12-07 16:34] zeukterialpneumaion commented on #38
Aha! YES! Success....

Thankyou Peter!

Ok! I have it!

So yes, its the rmdir packages that were causing all issues,

(will deal with that later...!

yes, its a reluctant windows user set of problems ....)

but great! ELM!!! am so glad for this starter project .. can dive into
the elm paradigm now! Awesome,

many , many thanks. jez.

////////////////////////////////////////////////////////////////

[2016-12-21 14:34] bzums commented on #27
Hey, I still have the problem, can somebody confirm that? @moarwick maybe?

[2016-12-22 14:47] kittykatattack opened #40 "Cannot find module "glob""
Hi!

I've followed the instructions on the README to install this on OSX.
I'm getting this error at `sudo npm run reinstall`:

[code]

When I run `nam start` I get this message:

[code]

Any idea what might be wrong?

[2016-12-22 19:50] #40 closed

[2017-01-03 13:12] kittykatattack opened #41 "Error in index.js"
Hello,

With a fresh install of elm-webpack-starter, I'm getting the following errors when I run `npm start`:

     [78] ./src/static/index.js 442 bytes {0} [built] [1 error]

And

[code]
I'm on OSX (El Capitan) running node v.6.9.2 and npm v.3.10.9

Can anyone suggest what the problem might be?

[2017-01-03 13:14] kittykatattack commented on #41
Oh, it was a permissions problem!
I needed to use:

`sudo npm start`

... but I'm not sure why I needed `sudo`.
Does anyone know?

[2017-01-03 17:00] kittykatattack opened #42 "Runtime error: Cannot read property 'appendChild' of null(…)"
I have some code that compiles and runs fine in elm reactor.
However, when I run code the code with elm-webpack-starter I'm getting this runtime error:

[code]

The problem code is `parentNode.appendChild(appNode);` from this block of ode in `main.js`

	function debugRenderer(moduleName, parentNode, popoutRef, view, viewIn, viewOut)
	{
		return function(tagger, initialModel)
		{
			var appEventNod

[2017-01-03 18:55] lesykos commented on #41
`sudo chown -R username:groupname elm-stuff`
`npm run start`

[2017-01-09 04:07] JonathanDDuncan opened #43 "Compiled script not being served from http://localhost:8080/static/js/main.js"
I am converting an existing project from Elm 0.17 to Elm 0.18 and upgrading from
elm-webpack-starter Ver 0.6.2 to elm-webpack-starter Ver 0.8.2

I have managed to get my elm code to compile but my compiled script is not being served from the address that webpack is injecting into my index.html
  <script type="text/javascript" src="/static\js\main.js"></script>   I am getting a a 404 for  http://lo

[2017-01-09 12:28] #38 closed

[2017-01-09 12:49] moarwick commented on #43
"The system cannot find the path specified." <-- Something is off if you're seeing it; since your install fails, running `npm start` is bound to not work. Unfortunately I have no access to a Windows machine, but it could be also due to you changing any path info.

The `reinstall` script performs a number of commands in sequence. To start troubleshooting, it would be good to know at which step exac

[2017-01-09 12:51] #41 closed

[2017-01-09 16:15] JonathanDDuncan commented on #43
Thank you for helping me out it is very much appreciated.

I decided to  trying to get everything to install properly in an "empty" starter folder downloaded from the master branch.  Which isn't working

npm i rimraf
rimraf node_modules
npm uninstall -g elm
npm i -g elm

all ran without error, just a few warning.  you can see them in attached file.

npm i

I got these warnings
`-- UNMET PEER DEPEN

[2017-01-09 17:45] JonathanDDuncan commented on #43
I tried manually installing each of the packages in the package.json file.

They all gave me the warning
npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.0.17: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

See attached
[packag

[2017-01-09 23:42] moarwick commented on #43
Hmm, not getting other reports of this. How about trying updating your version of Node? I'm running 6.0

[2017-01-10 03:01] JonathanDDuncan commented on #43
I already updated my version of node.  I am running version v6.9.4.

[2017-01-10 17:00] safhac commented on #43
+1 i'm just gonna revert to 0.8.0
I've just noticed Main.elm doesn't have `module Main..`

[2017-01-11 17:12] pythe commented on #43
+1. Reverting to the 0.8.0 version of webpack.config.js got it going again. Maybe related to running on Windows?

[2017-01-13 12:00] madnight opened #44 "Hot reloading on save does not work for imported components"
It seems like hot auto reloading on save does not work for imported components.
So in this case it does not work for Hello.elm, but Main.elm hot reloading on save works fine.

[2017-01-13 15:44] kldeb commented on #44
@madnight If you search through the issues this was supposed to be fixed a while ago. I had the same problem.

I added the following line to the top of Main.elm:

```module Main exposing (..)```

That fixed my problem.

https://github.com/rtfeldman/node-elm-compiler/pull/36#issuecomment-239791195

[2017-01-13 17:53] JonathanDDuncan commented on #43
I tried reverting to 0.8.0 version but it didn't work either.  I guess it just doesn't work well either on Windows or on my setup.  Thank you all for being helpful.

[2017-01-13 17:53] #43 closed

[2017-01-13 20:07] moarwick commented on #43
I pushed a newer version yesterday, with updated packages. Perhaps give that a try, do a clean clone and install. Seemed to work fine, but that's on my Mac. Sorry I can't be of more help.

[2017-01-13 20:20] moarwick commented on #44
Updated in 0.8.4

[2017-01-13 20:20] #44 closed

[2017-01-14 02:00] lesykos commented on #43
@JonathanDDuncan does you try resolve?
https://webpack.github.io/docs/troubleshooting.html#windows-paths

[2017-01-14 20:30] gumarm commented on #43
I had the same issue and created a pull request that makes webpack's config work on Windows machines.

https://github.com/moarwick/elm-webpack-starter/pull/45

[2017-01-17 21:15] madasebrof opened #46 "WIndows not working, FIXED"
FYI, running Windows 10.

To get this to run on windows, I had to make the following changes to webpack.config.js:

[code]

Other than that, nice starting place!

(also looks like bootstrap icon fonts aren't being bundled in the production build for some reason...)

[2017-01-19 00:18] moarwick commented on #46
please try the latest version. the local server/bundler should work fine.

unfortunately, `npm run build` is not Windows-compatible at the moment. see comments in this [PR](https://github.com/moarwick/elm-webpack-starter/pull/39). for now, you can just remove all the `mv` commands from the script, then copy the font files into `dist/static/css` manually..

[2017-01-19 00:18] #46 closed

[2017-01-19 00:19] moarwick commented on #42
assuming no longer an issue? i'd reclone and reinstall latest, make sure you are on Node 6+

[2017-01-19 00:19] #42 closed

[2017-01-19 09:20] littleStudent opened #47 "loading path for generated js file should be absolute"
loading a url like http://example.org/level1/level2 will result in a 404 error because the elm generated js file is loaded from http://example.org/level1/302394f9230.js

[2017-01-21 07:36] #47 closed

[2017-02-24 14:41] eeue56 opened #49 "Move ownership to elm-community"

[2017-02-24 14:43] eeue56 opened #50 "Move ownership to elm-community"
Hi! I'm an owner of [elm-commmunity](https://github.com/elm-community/), a group dedicated to maintaining Elm packages that have proved to be popular. I'm also the maintainer of [elm-webpack-loader](https://github.com/elm-community/elm-webpack-loader/)

Since you are no longer maintaining this, it would be great if you could transfer this over to us. We'll take good care of it.

[2017-02-24 14:43] eeue56 commented on #50
cc @moarwick

[2017-02-24 14:47] #49 closed

[2017-02-26 02:06] moarwick commented on #50
hi @eeue56. thanks for reaching out. it appears you are a legit Elm dev and the group a perfect place for this repo, so happy to do it. per this [article](https://help.github.com/articles/transferring-a-repository-owned-by-your-personal-account/), it appears you need to make me a "contributor" before I can transfer ownership?

[2017-02-26 10:42] eeue56 commented on #50
@moarwick Done :)

[2017-02-28 02:23] moarwick commented on #50
hmm, just tried to transfer but getting `You don’t have the permission to create repositories on elm-community`

[2017-02-28 12:45] eeue56 commented on #50
@moarwick Hmm, how about adding me as an owner to this repo, then I'll transfer it?

[2017-02-28 17:12] moarwick commented on #50
@eeue56 the transfer went through. i didn't realize there was an invite to elm-community i had to accept. anyway, all yours -- there goes my most popular repo!

One known issue is the `build` script, which is not Windows compatible currently (due to its use of the `mv` command). I couldn't find a clean move the assets via webpack, and I don't think there is a cross-platform move command ala `rimra

[2017-02-28 17:12] #50 closed

[2017-02-28 18:19] eeue56 commented on #50
@moarwick Thanks! I'll get through updating it today. I'll leave you as a collaborator should you return to Elm at some point!

[2017-03-01 07:21] littleStudent commented on #50
Not relevant to this "issue" but never the less, I wanted to say thank you @moarwick.
I use this as a starter for all elm projects I do and I never had a real problem 👍 . thanks for the work.

[2017-03-01 19:01] agboom opened #51 "Small confusion in readme with respect to `npm run build`"
For starters, this repo is a great way to get an Elm project started with Webpack, so kodus!

I've set up my own project with Elm using this starter pack successfully. However, when I run `npm run build` to create my production files and open `index.html` (like the readme says), the browser shows a blank page.

While investigating this, I noticed that the `src` path in the `script` tag in `index.h

[2017-03-05 15:30] optikfluffel opened #52 "Upgrade to Webpack 2"
We should probably [migrate to webpack 2](https://webpack.js.org/guides/migrating/) and update all other dependencies along the way too. I could give it a shot during the following week if that's ok with everyone. Any thoughts on that?

[2017-03-06 00:30] eeue56 commented on #52
Porting the loader is the tricky part - this repo is mainly just boilerplate around that. A PR has already been made for the changes for webpack v2 on the loader, https://github.com/elm-community/elm-webpack-loader/pull/105

I would love some help reviewing stuff there, if you already familiar with that migration.

[2017-03-06 04:10] jiwhiz commented on #52
@optikfluffel Please review my PR #53 and let me know if you find any issues.

[2017-03-14 16:26] jiwhiz commented on #52
Sorry @optikfluffel, forgot to watch this repo, so didn't see your review. I updated code based on your feedback. Thanks a lot!.

BTW, I create a new starter project at https://github.com/jiwhiz/elm-bootstrap-webpack-starter, with [elm-bootstrap](https://github.com/rundis/elm-bootstrap) support, and made [elm-css-webpack-loader](https://github.com/tcoopman/elm-css-webpack-loader/pull/12) working.

[2017-03-21 13:01] natrixnatrix89 opened #54 "Include unit tests and fuzz tests in the starter"
It would be nice to see the environment setup for unit & fuzz tests in the boilerplate too.

[2017-06-05 18:37] BjornMelgaard opened #59 "What about AOT compilation?"
I'm new to language, don't beat me hard

[2017-06-05 19:16] eeue56 commented on #59
Can you explain a bit what you mean by that?

[2017-06-05 19:26] BjornMelgaard commented on #59
As I know all html defined in view function are added at runtime, is it even possible to do some of this work at compile time?

[2017-06-05 19:29] eeue56 commented on #59
Can you expand a bit further still?

[2017-06-05 19:48] BjornMelgaard commented on #59
Don't know, you tell me, thats why I asked)

[2017-06-05 19:56] eeue56 commented on #59
It's a bit hard to say exactly what you're after without knowing some more context. What's the end goal that you are trying to achieve? A fast page?

[2017-06-05 19:58] BjornMelgaard commented on #59
Yes)

[2017-06-05 20:01] eeue56 commented on #59
My recommendation in that case is to try Elm out. Elm is already pretty fast - it's one of the fastest frontend frameworks out there. When you run into speed issues, join the [Elm slack](https://elmlang.herokuapp.com/) and ask us there! :)

[2017-06-05 20:01] #59 closed

[2017-06-05 20:04] BjornMelgaard commented on #59
Thanks)

[2017-09-03 10:15] hickscorp opened #62 "Yarn lockfile should not be excluded from the repo"
I randomly stumbled upon this repository and found an issue.

The yarn lockfile must be included in the repository, as it ensures that all dependencies *and subdependencies* are the same accross everyone's computers. That is why yarn was created in the first place to replace npm.

https://github.com/elm-community/elm-webpack-starter/blob/039c6da1eeec5ee3620fa2d31135dbc868b56fc0/.gitignore#L5

[2017-09-27 04:58] davejacobs opened #64 "Bootstrap"
I'm trying out elm-webpack-starter, and it's made getting started really easy. However, I'm not able to see any bootstrap styles besides Glyphicons in my generated index.html with the default config (using `npm start`). Is there an extra step I'm missing?

[2017-09-27 05:30] davejacobs commented on #64
Nevermind, I made a silly mistake.

[2017-09-27 05:30] #64 closed

[2017-09-27 08:15] eeue56 commented on #64
@davejacobs You should share what your mistake was so that anyone who finds this in the future can see how you fixed it :)

[2017-10-14 04:44] mcmire commented on #62
This appears to have been done in 4a2d21ce4b8950c39e23e4b9a4a9d4d26cc9ee4f.

[2017-10-14 04:45] mcmire commented on #52
Just rooting around this repo and noticed the changes that have been made recently. With 4a2d21ce4b8950c39e23e4b9a4a9d4d26cc9ee4f done, can this be closed?

[2017-10-14 04:54] mcmire commented on #62
If the README instructs people to run `npm run reinstall`, is it possible this project relies on NPM instead of Yarn? Maybe the authors just wanted to make things as easy as possible, or perhaps there's a specific reason.

[2017-12-09 12:22] JordyMoos commented on #42
I have the same issue "Uncaught TypeError: Cannot read property 'appendChild' of null at bundle.js:17580"

Using node v8.9.1

[2017-12-09 12:30] JordyMoos commented on #42
Oke my error was that i did not add html to my index.ejs file. After adding the plain html there it worked again. Maybe usefull for the next person with this error

[2018-04-01 11:31] #52 closed

[2018-09-11 01:54] FranklinChen opened #68 "Update to Elm 0.19"

[2019-01-16 21:33] ryanolsonx commented on #62
Either way, there should be some sort of lock file. Maybe for acceptance we can have a package-lock.json as well. It's best practice to check the lock file in so that those who use the boilerplate have the exact versions of node_modules that a developer has while creating this and finding that things are working. As I worked on #68 and created a PR where I had to change package.json dependencies,

[2019-01-16 21:41] ryanolsonx opened #71 "Remove Component Example"
If you follow Elm best practices and keep up with things said at Elm conf, you'll know that the idea of "Components" is not really encouraged. If a developer coming from react.js uses this boilerplate, they might believe that they "should" make everything a component. With that in mind, I propose that we remove the component example.

[2019-01-16 21:43] ryanolsonx opened #72 "Add Dockerfile"
To make it easy for folks to deploy an application based on this starter kit, we should include a docker setup so that it's easy to push something like this to production.

[2019-03-09 00:00] ryanolsonx commented on #72
This repo is stale. I don’t care anymore.

[2019-03-09 00:00] #72 closed

[2019-03-09 00:00] ryanolsonx commented on #71
This repo is stale. I don’t care anymore.

[2019-03-09 00:00] #71 closed

[2019-03-09 00:01] ryanolsonx commented on #68
Fix was made but no maintainer was available to merge. 😕